* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Minecraft";
    background-color: #f0e4d7;
    color: white;
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}

@font-face {
    font-family: "Minecraft";
    src: url("../font/Minecraft.ttf") format('truetype');
  }
  

/* Conteneur principal */
#gameWrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Section gauche (cookie principal) */
#sectionLeft {
    flex: 0 0 70%;
    background-image: url(../assets/fond.jpg);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #8d6e63;
    cursor: url('../assets/pixel-art-pickaxe-vector-illustration-retro-video-game-design_1292377-22737-removebg-preview.png') 16 16, auto;
}
#leftBeam {
    width: 100%;
    height: 2px;
    background-color: #8d6e63;
    margin-bottom: 20px;
}

#cookieCounter {
    font-size: 2em;
    margin-bottom: 10px;
}

#cookiePerSecond {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#cookie {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s;
}

#cookie img {
    top: 100px;
    height: 150%;
    
}

#cookie:hover {
    transform: scale(1.05);
}

#cookie:active {
    transform: scale(0.95);
}

/* Section droite (améliorations et boutique) */
#sectionRight {
    flex: 0 0 30%;
    background-color: #d7ccc8;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid #8d6e63;
}

#rightBeam {
    width: 100%;
    height: 2px;
    background-color: #8d6e63;
    margin-bottom: 20px;
}

/* Section update */

#upgradeTitle{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}



#upgrade {
    background-color: #5d4037;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upgrade-item {
    background-color: #6d4c41;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upgrade-item:hover {
    background-color: #4a2c25;
}

.upgrade-item span {
    font-size: 1em;
}

.upgrade-item .cost {
    font-weight: bold;
}



#buildingsTitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

#buildingsMaster {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.building {
    background-color: #8d6e63;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
}

.building:hover {
    background-color: #6d4c41;
}